.popup {
  display: none;
}

.popup__new_card {
  display: none;
}

.popup__full_img {
  display: none;
}


.popup__img {
  z-index: 100;
  max-width: 75vw;     
  max-height: 75vh;   
  width: auto;        
  height: auto;       
  object-fit: contain; 
  
}


.popup__container {
  box-sizing: border-box;
  display: flex;
  position: fixed;
  width: 430px;
  height: 330px;
  top: 195px;
  left: 50%; /* Centraliza na horizontal */
  transform: translateX(-50%); 
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  background: #ffffff;
  padding: 34px 36px 36px 36px;
  z-index: 100;
}


.popup__container2 {
  position: fixed;
  box-sizing: border-box;
  top: 90px; /* Fixo a 90px do topo */
  left: 50%; /* Centraliza na horizontal */
  transform: translateX(-50%); 
  border-radius: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column
  

}

.popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup__title {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  margin-bottom: 54px;
}

.popup__title_img {
font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 100%;
margin-top: 10px;
color: #ffffff;

}
.popup__name {
  height: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  min-height: 27px;
}
.popup__job {
  height: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  min-height: 27px;

}

.popup__submit_element {
  width: 100%;
  height: 50px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  background: #000000;
  cursor: pointer;
}

.popup__submit_element:hover {
  opacity: 80%;
}

.popup__close {
  position: absolute;
  top: -38px;
  right: -38px;
  width: 40px;
  height: 40px;
  background-image: url(../images/fechar.svg);
  background: transparent;
  border: none;
  background-size: cover;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 60%;
}

.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
}

.popup__opened {
  display: block;
}

.popup__link {
  height: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  min-height: 27px;

}

.popup__name_place {
  height: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  min-height: 27px;
}




@media screen and (max-width: 800px) {
  .popup__container {
    box-sizing: border-box;
    display: flex;
    width: 430px;
    height: 330px;
    top: 195px;
    opacity: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    background: #ffffff;
    padding: 34px 36px 36px 36px;
    z-index: 3;
  }
}



@media screen and (max-width: 560px) {
  .popup__container {
    box-sizing: border-box;
    display: flex;
    width: 260px;
    height: 330px;
    top: 195px;
    opacity: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    background: #ffffff;
    padding: 34px 36px 36px 36px;
    z-index: 3;
  }

  .popup__close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 20px;
    height: 20px;
    background-image: url(../images/fechar.svg);
    background: transparent;
    border: none;
    background-size: cover;
    cursor: pointer;
  }

  .popup__close-img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    width: 200px;
  }
}

.form__input-error {
font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 100%;
color: #FF0000;
min-height: 25px;
margin-bottom: 15px;
}

.form__input-error_active {
  display: block; 
}

.form__input_type_error {
  border-color: #ff0000; 
  background-color: #ffe6e6; 
}

.popup__button_disabled {
background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  opacity: 0.2;
  cursor: block;
  pointer-events: none;
}
